<body class="preview-page">
<div class="preview-bar bg-white fixed-top py-2 border-bottom-primary">
<div class="container-fluid h-100">
<div class="row align-items-center justify-content-between h-100">
<div class="col d-none d-lg-block">
 <ul class="nav responsive-toggler justify-content-center" role="tablist">
<li class="nav-item">
<a class="nav-link active" id="desktopToggle" data-toggle="tab" href="#" role="tab" aria-selected="true">
<i class="fal fa-desktop"></i>
</a>
</li>
<li class="nav-item">
<a class="nav-link" id="mobileToggle" data-toggle="tab" href="#" role="tab" aria-selected="false">
<i class="fal fa-mobile"></i>
</a>
</li>
</ul>
</div>
<div class="col text-right">
</div>
</div>
</div>
</div>
<iframe class="iframe-preview" width="100%" src="https://startbootstrap.github.io/startbootstrap-sb-admin-2/"></iframe>
<script id="dsq-count-scr" src="//startbootstrap.disqus.com/count.js" async type="40d7c29cabf936b459e4d21f-text/javascript"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous" type="40d7c29cabf936b459e4d21f-text/javascript"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous" type="40d7c29cabf936b459e4d21f-text/javascript"></script>
<script type="40d7c29cabf936b459e4d21f-text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
<script type="40d7c29cabf936b459e4d21f-text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.plugins.min.js"></script>
<script src="https://startbootstrap.com/assets/js/scripts.js" type="40d7c29cabf936b459e4d21f-text/javascript"></script>
<script type="40d7c29cabf936b459e4d21f-text/javascript">
        $("#desktopToggle").on('click', function(e) {
            e.preventDefault();
            $(".iframe-preview").removeClass("iframe-preview-mobile");
        });
        $("#mobileToggle").on('click', function(e) {
            e.preventDefault();
            $(".iframe-preview").addClass("iframe-preview-mobile");
        });
    </script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="40d7c29cabf936b459e4d21f-|49" defer=""></script>
</body>

